<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav>
    <ul>
      <li><a routerLink="/lifecycle" routerLinkActive="active">lifeCycle</a></li>
      <li><a routerLink="/form" routerLinkActive="active">Form</a></li>
      <li><a routerLink="/ngfor" routerLinkActive="active">ngFor</a></li>
      <li><a routerLink="/trackby" routerLinkActive="active">TrackBy</a></li>
    </ul>
  </nav>
<router-outlet></router-outlet>